$First-color: #BD3425;
$Second-color: #0E448A;
$Third-color: #113A70;
$fourth-color: #ADC83C;
$five-color: #70150B;
$card-color: rgba(255, 255, 255, 0.7);
$shadow: rgba(0, 0, 0, 0.1);
$white1: #fff;
$white2: #ddd;


.background {
    background-image: url('../Img/Background.png');
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size:cover;
}

.signin-card {
    width: 385px;
    background: $card-color;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 50px 25px 50px;
    box-shadow: 0 5px 10px 0px $shadow;
    -moz-box-shadow: 0 5px 10px 0px $shadow;
    -webkit-box-shadow: 0 5px 10px 0px $shadow;
    -o-box-shadow: 0 5px 10px 0px $shadow;
    -ms-box-shadow: 0 5px 10px 0px $shadow;
}

.eye {
  padding-top: 35px !important;
}



.pb-container {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 100%;
}
.pb-container .pb-button {
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 27px;
  color: $Second-color;
  cursor: pointer;
  padding: 0.7em 1em;
  text-decoration: none;
  text-align: center;
  height: 40px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}
.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 1em;
  font-weight: 100;
}
.pb-container .pb-button svg {
  height: 40px;
  width: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: $white1;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  width: 40px;
  border-width: 6.5px;
  border-color: $white2;
  cursor: wait;
  background-color: transparent;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button {
  border-color: $fourth-color;
  background-color: $fourth-color;
}
.pb-container.success .pb-button span {
  transition: all 1.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button {
  border-color: $First-color;
  background-color: $First-color;
}
.pb-container.error .pb-button span {
  transition: all 1.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
